:root {
  --base-font-family: "Open Sans", Arial, sans-serif;
  --black-h: 0;
  --black-s: 0%;
  --black-l: 0%;
  --black: hsl(var(--black-h), var(--black-s), var(--black-l));
  --white-h: 0;
  --white-s: 0%;
  --white-l: 100%;
  --white: hsl(var(--white-h), var(--white-s), var(--white-l));
  --base-h: 178;
  --base-s: 97%;
  --base-l: 29%;
  --base-color: hsl(var(--base-h), var(--base-s), var(--base-l));
  --base-color-shadow: hsl(201, 100%, 40%);
  --special-color: hsl(58, 75%, 46%);
  --special-color-shadow: hsl(58, 75%, 36%);
  --font-color: hsl(213, 4%, 51%);
  --dark-font-h: 213;
  --dark-font-s: 33%;
  --dark-font-l: 6%;
  --dark-font-color: hsl(var(--dark-font-h), var(--dark-font-s), var(--dark-font-l));
  --light-bg: hsl(240, 14%, 97%);
  --base-font-color: hsl(197, 9%, 13%);
  --base-font-color-shadow: hsla(197, 9%, 13%, 0.5);
  --border-color: hsl(220, 7%, 92%);
  --transparent: hsla(0, 0%, 100%, 0);
  --error: hsl(0, 100%, 20%);
  --disabled: hsl(210, 4%, 60%);
  --tablet: 760px;
  --pads: 20px;
}

@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1280px);

@media screen and (--tablet) {
  :root {
    --desktop: 1260px;
    --pads: 40px;
  }
}

@media screen and (--desktop) {
  :root {
    --desktop: 1280px;
    --pads: 50px;
  }
}
