
{% from '../partials/pageHeader.html' import pageHeader %}
{% from '../partials/pageFooter.html' import pageFooter %}

<!DOCTYPE html>
<html class="page" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body class="page__body">

  {{ pageHeader('page__header') }}

  <main class="page__main">
    {% block content %}
    {% endblock %}
  </main>

  {{ pageFooter('page__footer') }}

  <!-- <script src="./scripts/libs.min.js"></script>
  <script src="./scripts/main.js" type="module"></script> -->
</body>
</html>
