{% extends "layouts/parent.html" %}

{% block content %}
<section class="page__section intro">
  <div class="intro__inner">
    <div class="intro__header">
      <p class="intro__text-before">Lorem ipsum dolor sit <br>iusmod tempor</p>
      <h1 class="intro__title">Incididunt bore</h1>
      <p class="intro__text-after">Orem ipsum dolor sit <br>amet, consectetur</p>
    </div>
    <div class="intro__footer">
      <a href="#about" class="intro__button button">Know more</a>
    </div>
  </div>
</section>

<section id="about" class="page__section about">
  <div class="about__inner">
    <h2 class="about__title title">About me</h2>
    <div class="about__text-holder">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat duis aute irure dolor.
      </p>
    </div>
    <ul class="about__features features features--about">
      <li class="features__item">
        <h3 class="features__title">sfsdf</h3>
        <div class="features__text-holder">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
        </div>
      </li>
      <li class="features__item">
        <h3 class="features__title">sfsdf</h3>
        <div class="features__text-holder">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
        </div>
      </li>
      <li class="features__item">
        <h3 class="features__title">sfsdf</h3>
        <div class="features__text-holder">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
        </div>
      </li>
      <li class="features__item">
        <h3 class="features__title">sfsdf</h3>
        <div class="features__text-holder">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="services" class="page__section services">
  <div class="services__inner">
    <div class="serveces__content">
      <h2 class="services__title title">Services</h2>
      <div class="services__text-holder">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem exercitationem
          iusto ut illo quia aspernatur eaque ducimus dignissimos voluptates aperiam!
        </p>
      </div>
      <ul class="services__features features">
        <li class="features__item">
          <h3 class="features__title">sfsdf</h3>
          <div class="features__text-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
          </div>
        </li>
        <li class="features__item">
          <h3 class="features__title">sfsdf</h3>
          <div class="features__text-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
          </div>
        </li>
        <li class="features__item">
          <h3 class="features__title">sfsdf</h3>
          <div class="features__text-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
          </div>
        </li>
        <li class="features__item">
          <h3 class="features__title">sfsdf</h3>
          <div class="features__text-holder">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, illo.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="my-work" class="page__section my-work">
  <div class="my-work__inner">
    <h2 class="my-work__title title">My work</h2>
    <div class="my-work__text-holder">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem exercitationem
        iusto ut illo quia aspernatur eaque ducimus dignissimos voluptates aperiam!
      </p>
    </div>
  </div>
  <ul class="my-work__list">
    <li class="my-work__item">
      <a href="" class="card">
        <div class="card__image-holder">
          <picture>
            <source srcset="./assets/images/place/place-sm-01@1x.webp, ./assets/images/place/place-sm-01@2x.webp 2x" type="image/webp">
            <img class="card__image" src="images/my-work/item-1.jpg" srcset="images/my-work/item-1@2x.jpg 2x" width="100%" alt="">
          </picture>
        </div>
        <div class="card__info">
          <h3 class="card__title">Lorem, ipsum.</h3>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </a>
    </li>
    <li class="my-work__item">
      <a href="" class="card">
        <div class="card__image-holder">
          <picture>
            <source srcset="./assets/images/place/place-sm-01@1x.webp, ./assets/images/place/place-sm-01@2x.webp 2x" type="image/webp">
            <img class="card__image" src="images/my-work/item-1.jpg" srcset="images/my-work/item-1@2x.jpg 2x" width="100%" alt="">
          </picture>
        </div>
        <div class="card__info">
          <h3 class="card__title">Lorem, ipsum.</h3>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </a>
    </li>
    <li class="my-work__item">
      <a href="" class="card">
        <div class="card__image-holder">
          <picture>
            <source srcset="./assets/images/place/place-sm-01@1x.webp, ./assets/images/place/place-sm-01@2x.webp 2x" type="image/webp">
            <img class="card__image" src="images/my-work/item-1.jpg" srcset="images/my-work/item-1@2x.jpg 2x" width="100%" alt="">
          </picture>
        </div>
        <div class="card__info">
          <h3 class="card__title">Lorem, ipsum.</h3>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </a>
    </li>
    <li class="my-work__item">
      <a href="" class="card">
        <div class="card__image-holder">
          <picture>
            <source srcset="./assets/images/place/place-sm-01@1x.webp, ./assets/images/place/place-sm-01@2x.webp 2x" type="image/webp">
            <img class="card__image" src="images/my-work/item-1.jpg" srcset="images/my-work/item-1@2x.jpg 2x" width="100%" alt="">
          </picture>
        </div>
        <div class="card__info">
          <h3 class="card__title">Lorem, ipsum.</h3>
          <p class="card__text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </a>
    </li>
  </ul>
</section>

<section id="contacts" class="page__section contacts">
  <div class="contacts__inner">
    <h2 class="contacts__title title">My work</h2>
    <div class="contacts__text-holder">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem exercitationem
        iusto ut illo quia aspernatur eaque ducimus dignissimos voluptates aperiam!
      </p>
    </div>
    <div class="contacts__form">
      <form action="" method="post">
        <label for="name" class="text-field">
          <span class="visually-hidden">Name</span>
          <input id="name" class="text-field__input" type="text" placeholder="Name" name="name" required>
        </label>
        <label for="email" class="text-field">
          <span class="visually-hidden">Email</span>
          <input id="email" class="text-field__input" type="text" placeholder="Email" name="email" required>
        </label>
        <label for="message" class="text-field">
          <span class="visually-hidden">Email</span>
          <textarea id="message" class="text-field__textaria" placeholder="message" name="message"></textarea>
        </label>
        <button class="contacts__submit button">Submit</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
