.page {
  height: 100%;
  scroll-behavior: smooth;

  &.is-open-main-nav {
    height: 100vh;
    overflow: hidden;
  }
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.page__section {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (--tablet) {
  .page__section {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

@media screen and (--desktop) {
  .page__section {
    &:not(:last-child) {
      margin-bottom: 85px;
    }
  }
}
