.about__inner {
  max-width: var(--tablet);
  margin: 0 auto;
  padding: 0 var(--pads);
}

.about__title {
  margin-bottom: 8px;
  text-align: center;
}

.about__text-holder {
  text-align: center;
}

.about__features {
  margin-top: 20px;
}

@media screen and (--tablet) {
  .about__inner {
    max-width: var(--desktop);
    margin: 0 auto;
    padding: 0 var(--pads);
  }

  .about__text-holder {
    max-width: 840px;
    margin: 0 auto;
  }

  .about__title {
    margin-bottom: 22px;
  }

  .about__features {
    margin-top: 20px;
  }
}

@media screen and (--desktop) {
  .about__text-holder {
    width: 880px;
  }
}
