.burger {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: var(--transparent);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-image: url("../assets/images/burger.svg");
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;

  &:active {
    opacity: 0.5;
  }

  &.is-active {
    background-image: url("../assets/images/cross.svg");
    background-size: 20px 20px;
  }
}
