.button {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 45px;
  border: none;
  background-color: var(--special-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: background-color, color;

  &:hover {
    background-color: var(--special-color-shadow);
  }

  &:active {
    color: hsla(var(--dark-font-h), var(--dark-font-s), var(--dark-font-l), 0.3);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--disabled);
    pointer-events: none;
  }
}
