.feature {
  position: relative;
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-image: var(--icon);
    background-color: var(--base-color);
  }

  &--lamp {
    --icon: url("../assets/icons/svgsprite.svg#lamp");
  }

  &--pencil {
    --icon: url("../assets/icons/svgsprite.svg#pencil");
  }

  &--gear {
    --icon: url("../assets/icons/svgsprite.svg#gear");
  }

  &--comp {
    --icon: url("../assets/icons/svgsprite.svg#comp");
  }

  &--globus {
    --icon: url("../assets/icons/svgsprite.svg#globus");
  }

  &--search {
    --icon: url("../assets/icons/svgsprite.svg#search");
  }

  &--clock {
    --icon: url("../assets/icons/svgsprite.svg#clock");
  }

  &--graph {
    --icon: url("../assets/icons/svgsprite.svg#graph");
  }
}

.feature__title {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.feature__text-holder {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.9;

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (--tablet) {
  .feature {
    padding: 40px 0 0;

    &--centred {
      padding: 40px 0 0;
      text-align: center;

      &::before {
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }

      .feature__text-holder {
        margin-top: 15px;
        margin: 0 auto;
      }
    }
  }

  .feature__text-holder {
    max-width: 170px;
    margin-top: 10px;
    font-size: 11px;
  }
}

@media screen and (--desktop) {
  .feature {
    &--centred {
      padding: 55px 0 0;

      .feature__title {
        margin-bottom: 20px;
      }
    }
  }
}
