.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 50px);
  padding: 20px 0;
  background-color: var(--black);
  color: var(--white);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/intro/intro-bg-mob.jpg");
    opacity: 0.34;

    @media (min-resolution: 2dppx) {
      background-image: url("../assets/images/intro/intro-bg-mob@2x.jpg");
      background-size: cover;
    }
  }
}

.intro__inner {
  position: relative;
  z-index: 1;
  max-width: var(--tablet);
  margin: 0 auto;
  padding: 0 var(--pads);
}

.intro__header {
  position: relative;
  padding-bottom: 50px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 38px);
    width: 76px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../assets/images/intro/intro-decor.svg");
  }
}

.intro__text-before {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--white);
}

.intro__title {
  margin: 0;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 5px;
  color: var(--white);
  text-transform: uppercase;
}

.intro__text-after {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--white);
}

.intro__footer {
  margin-top: 50px;
  text-align: center;
}

@media screen and (--large-mob) {
  .intro__header {
    br {
      display: none;
    }
  }
}

@media screen and (--tablet) {
  .intro {
    min-height: calc(100vh - 50px);
    padding: 40px 0;

    &::before {
      background-image: url("../assets/images/intro/intro-bg-desk.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../assets/images/intro/intro-bg-desk@2x.jpg");
        background-size: cover;
      }
    }
  }

  .intro__inner {
    max-width: var(--desktop);
  }

  .intro__header {
    padding-bottom: 50px;

    &:after {
      left: calc(50% - 46px);
      width: 92px;
      height: 24px;
    }

    br {
      display: none;
    }
  }

  .intro__text-before {
    font-size: 24px;
  }

  .intro__title {
    font-size: 54px;
    letter-spacing: 10px;
  }

  .intro__text-after {
    font-size: 16px;
  }
}

@media screen and (--desktop) {
  .intro {
    min-height: 730px;
    padding: 50px 0 60px;
  }

  .intro__header {
    padding-bottom: 75px;

    &:after {
      left: calc(50% - 53px);
      width: 106px;
      height: 24px;
    }
  }

  .intro__text-before {
    font-size: 30px;
  }

  .intro__title {
    font-size: 68px;
    letter-spacing: 22px;
  }

  .intro__text-after {
    font-size: 18px;
  }

  .intro__footer {
    margin-top: 55px;
  }
}
