.page-footer {
  padding: 20px 0 15px;
  background-color: var(--black);
}

.page-footer__inner {
  max-width: var(--tablet);
  margin: 0 auto;
  padding: 0 var(--pads);
}

.page-footer__copyright {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--light-font-color);
  text-align: center;
  text-transform: uppercase;
}

@media screen and (--tablet) {
  .page-footer {
    padding: 25px 0 20px;
  }

  .page-footer__inner {
    max-width: var(--desktop);
  }
}

@media screen and (--desktop) {
  .page-footer {
    padding: 30px 0 25px;
  }
}
