.text-field {
  display: block;
  width: 100%;
}

.text-field__textaria,
.text-field__input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid var(--dark-border-color);
  background-color: var(--transparent);
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  color: var(--base-font-color);
  text-align: center;

  &::placeholder {
    text-transform: uppercase;
    color: var(--base-font-color);
  }

  &:disabled,
  .is-disabled {
    color: var(--disabled);
    pointer-events: none;
  }
}

.text-field__input {
  height: 44px;
}

.text-field__textaria {
  min-height: 44px;
  resize: vertical;
}
